@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h2>DarkLayoutPage</h2>
 
Hello CompShop Application. I am in RenderBody section because there is no named section for me.
 
@*@section Note
{
    I am a RenderSectionArea.
}*@
 
@*@section Footer
{
    I am Footer Section Areas.
}
*@